<%- include('../pages/menu'); %>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Starter Page</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Starter Page</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Horizontal Form</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form class="form-horizontal" method="post" action="/update_order">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">ID</label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly="readonly" name="id_order" value="<%= oneEvent.id_order.replaceAll(" ","") %>" class="form-control" id="inputEmail3"
                                                placeholder="ID">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Tên Người Dùng</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="id_user" value="<%= oneEvent.id_user.replaceAll(" ","") %>"class="form-control" id="inputEmail3"
                                                placeholder="Tên Người Dùng">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Price</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="price" value="<%= oneEvent.price %>"class="form-control" id="inputEmail3"
                                                placeholder="password">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3"  class="col-sm-2 col-form-label">Tên Khách hàng</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="name_KH" value="<%= oneEvent.name_KH %>"class="form-control" id="inputEmail3"
                                                placeholder="Giới tính">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Chi nhánh</label>
                                        <div class="col-sm-10">
                                            <select name ="id_CN"class="form-control select2" style="width: 100%;">                         
                                                <option value="CN1" >Chi Nhánh 1(Hà Nội)</option>
                                                <option value="CN2" >Chi Nhánh 2(Hồ Chí Minh)</option>       
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Start</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="start" readonly="readonly" value="<%= oneEvent.start %>"class="form-control" id="inputEmail3"
                                                placeholder="Start">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3"  class="col-sm-2 col-form-label">Reload</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="reload" readonly="readonly" value="<%= oneEvent.reload %>"class="form-control" id="inputEmail3"
                                                placeholder="Giới tính">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-info">Sign in</button>
                                    <button type="submit" class="btn btn-default float-right">Cancel</button>
                                </div>
                                <!-- /.card-footer -->
                            </form>
                        </div>

                        <!-- /.card -->
                    </div>
                    <!-- /.col-md-6 -->

                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <script>
        $('.datepicker').datepicker();
    </script>